* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-color: #ecd4a5;;
  color: #2c1e22;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  min-height: 100vh; 
}


main {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  gap: 30px;
  flex: 1; 
  width: 100%;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #633b18;
  height: 90px;
  width: 100%; 
  margin-top: 0;  
}

.logo h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1d0e02;
  letter-spacing: -1px;
  margin-left: 15px;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
}

nav :hover {
  color: #120b01;
}

.btn-header {
  background-color: #1d0e02;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  transition: background 0.2s;
  margin-right: 15px;
}

.btn-header:hover {
  background-color: #120b01;
}

.beneficios-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 25px;
  max-width: 480px;
  margin: 0 auto; 
}

.beneficios-list li {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  opacity: 0.95;
}

.check {
  background-color: #532703;
  color: #ffcccc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-right: 14px;
  flex-shrink: 0;
}

.card-cadastro {
  background-color: #3c2203; 
  color: #9e7033;
  padding: 40px;
  border-radius: 20px;
  width: 100%; 
  max-width: 450px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin: 0 auto; 
}

.card-cadastro h2 {
  margin: 0 0 6px 0;
  font-size: 1.6rem;
}

.subtitulo {
  font-size: 0.85rem;
  color: #fffefe;
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 0.8rem;
  color: #ecebeb;
  margin-bottom: 6px;
}

.input-group input {
  padding: 12px 14px;
  border: 1px solid #e2d8d0;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 0.95rem;
  outline: none;
}

.input-group input::placeholder {
  color: #bfaea6;
}

.btn-enviar {
  width: 100%;
  background-color: #5b3004; 
  color: white;
  border: none;
  padding: 14px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s;
}

footer {
  text-align: center;
  padding: 20px 0;
  color: #fdfdfd;
  font-size: 0.85rem;
  border-top: 1px solid #e6ded8;
  margin-top: 40px;
  width: 100%; 
}